@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* common styles */

.btn-primary {
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
}

.btn-primary:hover,
.architect-btn:hover {
    background-color: blueviolet;
}

.all-description-paragraph-color {
    color: #727272;
}

/* 
-----------------------------------------header
                                                        ------------------------------ */

.header {
    background: rgba(255, 144, 14, 0.1);

}

.menu {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li:hover {
    background-color: lightgray;

}

.nav .nav-title,
.Facts-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.nav a {
    text-decoration: none;
}

.nav ul li a {
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.nav ul {
    display: flex;
    gap: 75px;
}

.nav ul li {
    list-style: none;
}

.header-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.header-info img {
    width: 60%;
    margin-top: 30px;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.header-description {
    width: 868px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}


/* list of features styles */
.features-list {
    margin: 0 200px;
    margin-top: 85px;
    display: flex;
    gap: 73px;
    align-items: center;
    justify-content: center;
}


.teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team img {
    width: 250px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}



.features-title .span-2 {
    color: #131313;
}

.features-title .span-3 {
    color: #FF900E;
}

.features-description {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
}



/* ----------lovely-features-section  
--------------------------------------*/

.lovely-features-section {
    margin-top: 130px;
    display: flex;
    /* gap: 85px; */
    /* justify-content: center; */
    justify-content: space-around;
    width: 1440px;

}

.lovely-features-info {
    height: 982px;
    width: 586px;
}

.lovely-features-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.lovely-features-paragraph {
    margin-bottom: 30px;
    width: 514px;
}

.lovely-feature {
    margin-bottom: 20px;
    padding: 30px;
    padding-right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    width: 514px;
    height: 111px;
    margin: 0;
}

.lovely-feature-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.lovely-feature-description {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.lovely-feature-description:hover {
    overflow: visible;
}


.architect-btn {
    height: 200px;
    width: 342px;
    background: #FF900E;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    left: -60px;
    top: -100px;
}

.architect-btn span {
    font-size: 25px;
}

/* ------------------Some-Facts-section
------------------------------------ */

.Some-Facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -140px;
    margin-bottom: 80px;
}

.Some-Facts>div>p {
    width: 542px;
}

.animations {
    display: flex;
    gap: 125px;
    justify-content: center;
}

.animation {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
    animation: bg-spin 3s ease-in-out infinite;
    animation-play-state: running;
}

@keyframes bg-spin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
}

.animation h4,
.animation p {
    margin: 0;
    color: #424242;
}

.animations h4 {
    font-size: 40px;
    font-weight: 600;
}

/* sponsors */
.Sponsors {
    margin-top: 180px;
    text-align: center;
}

.sponsors-title {
    font-size: 45px;
}

.Sponsors p {
    color: #727272;
    margin: 0;
}

.sponsor {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sponsor img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer {
    margin-top: 130px;
    color: #424242;
    margin-bottom: 216px;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    text-align: center;
    padding-top: 38px;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* ------------------responsive for mobile 
-----------------------------------*/


@media only screen and (max-width:688px) {


    .nav {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav .nav-title {
        font-size: 24px;
    }

    .nav ul {
        flex-direction: column;
        padding-left: 0;
        gap: 10px;
    }

    .menu {
        display: contents;
    }


    .in-menu {
        display: none;
    }

    .menu .dropdown {
        display: none;
        position: absolute;
        background-color: lightyellow;
        padding-left: 0;
    }

    .nav li:active .dropdown {
        display: block;
    }

    .header-info {
        display: block;
    }

    .header-title {
        font-size: 30px;
    }

    .header-description {
        width: 100%;
    }

    .header-info img {
        width: 100%;
    }

    footer {
        margin-bottom: 0;
        width: 100%;
    }

    .sponsor {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

    }

    .sponsor img {
        width: 80px;
    }

    .animations {
        flex-direction: column;
        gap: 0;
    }

    .animation {
        border: none;
    }

    .Some-Facts {
        display: block;
        left: 0;
    }

    .Some-Facts>div>p {
        width: 100%;
    }

    .animations h4 {
        font-size: xx-large;
    }

    .lovely-features-section {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }

    .lovely-features-info {
        height: 100%;
        width: 100%;
    }

    .architect img {
        width: 100%;
    }

    .architect-btn {
        height: 100px;
        width: 180px;
        font-size: 29px;
        left: 0px;
        top: -75px;
    }

    .architect-btn span {
        font-size: medium;
    }

    .features-list {
        flex-direction: column;
        margin: 100px 0;
    }
    .teams {
        grid-template-columns: repeat(1,1fr);
    }
    .team img {
        width: 100%;
    }
}